/* Page */

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
    border: 0;
    outline: none;
  
    padding: 0;
    font-weight: bold;
    color: #793030;
    
}



ul {
    list-style: none;
}

.clear {
    clear: both;
}


/* Vertical Mega Menu Styles */

.dcjq-vertical-mega-menu .menu {
    font: bold 13px Arial, sans-serif;
    line-height: 16px;
    position: relative;
    /* Required */
    /* border: 1px solid #999; */
    border-bottom: none;
    /* margin-top: 59px; */
}

.dcjq-vertical-mega-menu .menu li a {
    display: block;
    color: #fff;
    padding: 15px 10px 15px 15px;
    /* text-shadow: 1px 1px 1px #fff; */
    text-decoration: none;
    border-bottom: 0.5px solid #468fce;
    font-size: 14px;
}

.dcjq-vertical-mega-menu .menu li a:hover,
.dcjq-vertical-mega-menu .menu li.mega-hover a {
    background-position: 0 -40px;
    color: #000;
    /* text-shadow: 1px 1px 1px #000; */
    background: #f0f0f0;
}

.dcjq-vertical-mega-menu .menu li a.dc-mega {
    position: relative;
}


/* Add arrow icon to parent links */

.dcjq-vertical-mega-menu .menu li a .dc-mega-icon {
    display: block;
    position: absolute;
    top: 14px;
    right: 15px;
    width: 6px;
    height: 8px;
    /* background: url(images/arrow_right.png) no-repeat -6px 0; */
}

.dcjq-vertical-mega-menu .menu li a:hover .dc-mega-icon,
.dcjq-vertical-mega-menu .menu li.mega-hover a .dc-mega-icon {
    background-position: 0 0;
}


/* Mega menu container */

.dcjq-vertical-mega-menu .menu li .sub-container {
    position: absolute;
    /* Required */
    overflow: hidden;
    background: #f0f0f0;
    /* Add the drop shadow */
    padding: 20px 13px 20px 20px;
    /* Padding for drop shadow */
    z-index: 99999 !important;
    border-bottom: 5px solid #337ab7;
    height: inherit !important;
}

.dcjq-vertical-mega-menu .menu li .sub-container .sub {
    border: none;
    /* padding: 15px 15px 15px 15px; */
    /* background: #fff; */
    /* border-top: 1px solid #ccc; */
    /* border-right: 1px solid #bbb; */
    /* border-bottom: 10px solid #006ade; */
    /* border-left: 1px solid #ccc; */
    z-index: 99999999999;
    position: relative;
}

.dcjq-vertical-mega-menu .menu li .sub .row {
    width: 100%;
    overflow: hidden;
    /* Clear floats */
}

.dcjq-vertical-mega-menu .menu li .sub li {
    float: none;
    /* width: 160px; */
    font-size: 1em;
    font-weight: normal;
}

.dcjq-vertical-mega-menu .menu li .sub li.mega-hdr {
    float: left;
    /* Required */
    margin: 0 5px 10px 5px;
}

.dcjq-vertical-mega-menu .menu li .sub a,
.dcjq-vertical-mega-menu .menu.left li .sub a {
    background: none;
    border: none;
    text-shadow: none;
    float: none;
    color: #000;
    display: block;
    text-decoration: none;
    font-size: 0.9em;
    margin-bottom: 0;
}

.dcjq-vertical-mega-menu .menu li .sub li.mega-hdr a.mega-hdr-a {
    /* background: url(images/bg_nav.png) repeat-x 0 -40px; */
    padding: 5px;
    margin-bottom: 15px;
    color:black;
    /* text-transform: uppercase; */
    font-weight: bold;
    /* color: #fff; */
    /* text-shadow: 1px 1px 1px #000; */
    /* text-align: center; */
    font-size: 14px;
}

.dcjq-vertical-mega-menu .menu li .sub li.mega-hdr a.mega-hdr-a:hover {
    color: orange;
    text-shadow: none;
}

.dcjq-vertical-mega-menu .menu .sub li.mega-hdr li {
    margin-bottom: 3px;
}

.dcjq-vertical-mega-menu .menu .sub li a {
    padding: 5px 6px;
    /* background: url(images/bullet.png) no-repeat 3px 8px; */
    font-weight: normal;
    text-transform: capitalize;
    font-size: 13px;
}

.dcjq-vertical-mega-menu .menu .sub li a:hover {
     color: orange; 
    /* background: #000 url(images/bullet_white.png) no-repeat 5px 8px; */
}


.dcjq-vertical-mega-menu .menu .sub ul li {
    padding-right: 0;
}


/* Styling for menu items with only 2 levels */

.dcjq-vertical-mega-menu .menu li .sub-container.non-mega .sub {
    padding: 10px;
    background: transparent;
}

.dcjq-vertical-mega-menu .menu li .sub-container.non-mega li {
    padding: 0;
    margin: 0;
    width: 150px;
    float: none;
}

.sub-container {
    width: 865px !important;
    z-index: 9999 !important;
}


/* 30-June-css-2017-inner-page-dropdown-categories *************/

.innercat {
    position: absolute;
    top: 65px;
    width: auto;
    z-index: 999;
}

.bannerinner .dcjq-vertical-mega-menu ul li a {
    float: left;
    margin-top: 0;
    width: 100%;
}

.bannerinner .mega-hover .sub-container {
    left: 100% !important;
    margin-top: -150px !important;
}

.innercat .subsub {
    background: #f0f0f0 none repeat scroll 0 0;
    left: 100%;
    margin-top: 0px;
    position: absolute;
    width: 858px;
    border-bottom: 5px solid #337ab7;
    display: none;
}

.subsub ul li {
    float: left;
}

.subsub ul li a {
    color: #000 !important;
}

.subsub li a {
    border-bottom: none !important;
}

.subsub li a:hover {
    background: transparent;
}

.mainitemc:hover .subsub {
    display: block;
}

.mainitemc {
    float: left;
    position: relative;
    width: 100%;
}

.innercat {
    position: absolute;
    top: 65px;
    width: 22%;
    z-index: 999;
}


/* 1-june-2017-categories-buttons */

.subsub ul li {
    float: left;
    margin: 0;
    width: 33%;
}

.subsub ul li ul li {
    float: left;
    width: 100%;
}
.logo_sec{
    margin-top: -10px;
}